html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: 95em;
    background-color: hsl(257, 40%, 49%);
    font-family: Open Sans, sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 22.5em;
}

.header_logo img{
    width: 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4em;
}

.container {
    margin-top: 45px;
}

.container-left {
    float: left;
    padding-right: 50px;
}

.container-left img {
    width: 100%;
}

.container-right {
    margin-top: 48px;
}

.container-right h1 {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: white;
}

.container-right p {
    color: white;
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 25px;
}

.container-right button {
    padding: 14px 55px;
    border: none;
    border-radius: 50px;
    background-color: hsl(0, 0%, 100%);
    color: rgb(154, 108, 180);
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0px 13px 13px rgba(0, 0, 0, 0.25);
}

.container-right button:hover {
    background-color: rgb(235, 121, 250);
    color: white;
}

.social-media i{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 8px;
    padding-top: 13px;
    margin: 0 5px;
}

.social-media i:first-child {
    padding: 10px;
    padding-top: 13px;
    margin: 0 5px;
}

.social-media i:hover {
    color: rgb(235, 121, 250);
    border-color: rgb(235, 121, 250);
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 11px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: black;
}

@media (max-width: 1280px) {
    header {
        padding-left: 4em;
    }

    .header_logo img {
        width: 150px;
    }
}
